@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #232323;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.dot-bg {
  background: white;
  background-image: radial-gradient(rgb(197, 187, 187) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}