@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #232323;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.font-caslon {
  font-family: var(--font-libre-caslon-display), serif;
}

.font-geistMono {
  font-family: var(--font-geist-mono);
}

.bg-dots {
  background-color: transparent;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.25) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

.dark .bg-dots {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px
  );
}
