@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #232323;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}